# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Build files
*.exe
*.bak
*.axf
*.htm
*.html
*.crf
*.dep
*.iex
*.map
*.lnp
*.lst
*.d
*.o
